<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- search engine tags  -->
    <meta name="description" content="Professional and affordable ghostwriter and editor services. Let us help you create compelling narratives and polished manuscripts at budget-friendly rates.">
    <meta name="keywords" content="affordable ghostwriter, affordable editor, ghostwriting services, editing services, professional writing, budget-friendly writing services">
    <meta name="robots" content="index, follow">

       <!-- Open Graph Tags for Social Media -->
       <meta property="og: May Ghostwriter/Editor" content="Affordable Ghostwriter and Editor Services">
       <meta property="og:description" content="Professional and affordable ghostwriter and editor services. Let me help you create compelling narratives and polished manuscripts at budget-friendly rates.">
       <!-- <meta property="og:image" content="URL_to_your_image.jpg"> -->
       <meta property="og:url" content="https://may-ghostwriter-editor.com/">
       <meta property="og:type" content="website">
   
       <!-- Twitter Card Tags -->
       <!-- <meta name="twitter:card" content="summary_large_image"> -->
       <meta name="twitter:title" content="Affordable Ghostwriter and Editor Services">
       <meta name="twitter:description" content="Professional and affordable ghostwriter and editor services. Let us help you create compelling narratives and polished manuscripts at budget-friendly rates.">
       <!-- <meta name="twitter:image" content="URL_to_your_image.jpg"> -->

         <!-- Canonical Tag -->
    <link rel="canonical" href="https://may-ghostwriter-editor.com/">

    <!-- Additional SEO Tags -->
    <!-- <meta name="author" content="Your Name or Company Name">
    <meta property="og:site_name" content="Your Website Name">
    <meta property="og:locale" content="en_US">
    <meta property="og:image:alt" content="Affordable Ghostwriter and Editor">
    <meta name="twitter:site" content="@YourTwitterHandle">
    <meta name="twitter:image:alt" content="Affordable Ghostwriter and Editor"> -->
     <!--  -->
    <link href="css/styles.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    
    <title> May Ghostwriter/Editor</title>
    <!-- EMAIL SCRIPT -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "C6QE7V1F_FBf2I8vx",
      });
    //   emailjs.send("service_7ctr8xc","template_em43o3t");
   })();
</script>
  
</head>
<body id="page-top">
     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="static/assets/cv/published-essays.2.pdf">Published Essays </a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
     <!-- index-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            {% block content %}
            {% endblock %}
        </div>
    </header>
    <!-- About-->

    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-black mt-0">About me</h2>
                    <hr class="divider" />
                    <p class="text-black-75 mb-4">
                        I am a retired American economics professor as well as a well-published freelance writer
                        whose personal essays have appeared in the New York Times; Washington Post; The Los
                        Angeles Times; Chicago Tribune; The Christian Science Monitor; Newsweek. 
                         I currently reside in Paris, France.
                    </p>
                    <p class="text-black-75 mb-4">

                        <strong>Here to help you craft a coherent, captivating and compelling essay, 
                            story or memoir—at affordable rates!</strong>

                    <br>
                    From my bio above, I hope it is patently obvious that 
                    I've got the time and talent to help you transform your ideas into publishable narratives. 
                    I also edit term papers, master thesis and dissertation for stylistic improvement
                        
                    </p>
                    <a class="btn btn-light btn-xl" href="static/assets/cv/published-essays.2.pdf">View Published Essays</a>
                    <br>
                    <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Services & Fees:</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2"> &star; </h3>
                        <p class="text-muted mb-0">
                            <ul class="text-muted mb-0">
                            <li> If you don’t already have your rough draft, I can help you organize your thoughts into a coherent essay or
                            story.
                        </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h2 class="h4 mb-2"> &star; </h2>
                        <p class="text-muted mb-0">
                            <ul class="text-muted mb-0">
                           <li>If you already have a rough draft, I can stylistically improve all aspects of your manuscript—structure, voice,
                            plot deepening, and coherence—to elevate your writing and make it resonate with your target audience.
                        </li> 

                    <li> Either way, my goal as your ghostwriter/editor is to help you convey your message in a way that captivates your
                            target audience, all at an affordable rate.</li> 
                            

                        <li> If you need an editor to stylistically enhance your term paper or college essay, look no further. I can help
                            transform confusing logorrhea into a more coherent piece.</li> 
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2"> &star; </h3>
                        <ul class="text-muted mb-0">
                            <li>Without an existing rough draft, I charge $2,000 to help you organize your original thoughts into a maximum of 1,000-word publishable story.</li>
                            <li>With an existing rough draft, I charge a straight fee of $1,000 to refine your essay/article/story into a publishable narrative.</li>
                            <li>Fees for editing term papers are negotiable depending on the state of the rough draft and the word count. </li>
                            <li>Fees for coaching on how to use your original ideas and voice to craft your college essay, I charge a straight fee of $1,000.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
    <!-- Portfolio-->

     
  
    <!-- Call to action-->
  
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Let's Get In Touch!</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Ready to start your next project? 
                        Send me a message and I will get back to you as soon as possible!</p>
                </div>
            </div>
            
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" onsubmit="return sendMail(this);">
                        <div class="form-floating mb-3">
                            <input type="text" name="name" id="fullname" class="form-control" placeholder="Name" required />
                            <label for="name">Full name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" name="email" id="emailaddress" class="form-control" placeholder="Email" required />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            
                            <textarea  name="projectsummary" id="message" placeholder="Enter your message here..."  class="form-control" style="height: 10rem" placeholder="Project description" required></textarea>
                            <label for="message">Project request</label>
                        </div>

                        <div class="form-row text-center">
                            <div class="col">
                                
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary btn-xl ">Send Project Request</button>
                                    
                                </div>
                                <!-- email here -->
                                 <br>
                                <div class="text-center mt-0">
                                    Email: applemayelum@gmail.com
                                </div>
                                <!--  -->
                            </div>
                        </div>
                    </form>
                    
                    <div class="thankYouOverlay" id="thankYouOverlay">
                        <div class="thankYouMessage" id="thankYouMessage">
                            <p>Thank you for your project request. I will get back to you soon!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
  



    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - MN. Akabogu</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="static/js/sendEmail.js"></script>
    </body>
</html>