<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/styles.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <!-- EMAIL SCRIPT -->
      <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
   </script>
   <!--  -->
   <script type="text/javascript">
    (function(){
       emailjs.init({
         publicKey: "C6QE7V1F_FBf2I8vx",
       });
     //   emailjs.send("service_7ctr8xc","template_em43o3t");
    })();
 </script>
    
    <title>00 GHOST WRITER</title>
  
</head>
<body id="page-top">
     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
     <!-- index-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            {% block content %}
            {% endblock %}
        </div>
    </header>
    <!-- About-->
    
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                    <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Services</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Service 1</h3>
                        <p class="text-muted mb-0">
                            Ihr naht euch wieder, schwankende Gestalten!
                            Die früh sich einst dem trüben Blick gezeigt.
                            Versuch ich wohl euch diesmal fest zu halten?
                            Fühl ich mein Herz noch jenem Wahn geneigt?
                            Ihr drängt euch zu! nun gut, so mögt ihr walten,
                            Wie ihr aus Dunst und Nebel um mich steigt;
                            Mein Busen fühlt sich jugendlich erschüttert
                            Vom Zauberhauch, der euren Zug umwittert.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Service 2</h3>
                        <p class="text-muted mb-0">
                            Ihr bringt mit euch die Bilder froher Tage,
                            Und manche liebe Schatten steigen auf; 
                            Gleich einer alten halbverklungnen Sage,
                            Kommt erste Lieb und Freundschaft mit herauf;
                            Der Schmerz wird neu, es wiederholt die Klage
                            Des Lebens labyrinthisch irren Lauf,
                            Und nennt die Guten, die, um schöne Stunden 
                            Vom Glück getäuscht, vor mir hinweggeschwunden.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Service 3</h3>
                        <p class="text-muted mb-0">
                            Sie hören nicht die folgenden Gesänge,
                            Die Seelen, denen ich die ersten sang;
                            Zerstoben ist das freundliche Gedränge,
                            Verklungen ach! der erste Widerklang. 
                            Mein Leid ertönt der unbekannten Menge,
                            Ihr Beifall selbst macht meinem Herzen bang,
                            Und was sich sonst an meinem Lied erfreuet,
                            Wenn es noch lebt, irrt in der Welt zerstreuet.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Service 4</h3>
                        <p class="text-muted mb-0">
                            Und mich ergreift ein längst entwöhntes Sehnen 
                            Nach jenem stillen ernsten Geisterreich,
                            Es schwebet nun in unbestimmten Tönen
                            Mein lispelnd Lied, der Äolsharfe gleich,
                            Ein Schauer fasst mich, Träne folgt den Tränen,
                            Das strenge Herz es fühlt sich mild und weich; 
                            Was ich besitze seh ich wie im Weiten,
                            Und was verschwand wird mir zu Wirklichkeiten</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Portfolio-->
   
     

     
  
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4"> MIGHT DELETE THIS SECTION!</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">CERTIFICATIONS ???? </a>
        </div>
    </section>
    <!-- Contact-->
</header>
<section class="container-fluid">
<div class="row bg-color-contact">
       <div class="col">
           <h3 class="contact-heading uppercase text-center">Got a project in mind?</h3>
           <h5 class="uppercase text-center">Let's work together!</h5>

           <div class="center-form">
                <form onsubmit="return sendMail(this);">
                   <input type="text" name="name" id="fullname" class="form-control" placeholder="Name" required />
                   <input type="email" name="email" id="emailaddress" class="form-control" placeholder="Email" required />
                   <textarea rows="5" name="projectsummary" id="projectsummary" class="form-control" placeholder="Project description" required></textarea>
                   <div class="form-row text-center">
                       <div class="col">
                           <button type="submit" class="btn btn-secondary">Send Project Request</button>
                       </div>
                   </div>
               </form>
               <!-- Thank you message element -->
                  <div class="thankYouOverlay" id="thankYouOverlay">
   <div class="thankYouMessage" id="thankYouMessage">
       <p>Thank you for your project request. We will get back to you soon!</p>
   </div>
   
               <!--  -->
           </div>

       </div>
   </div>
   
</section>
  
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - Company Name</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>
</html>